In [1]:
from anyio.functools import reduce

print("Hello WORLD!")

Hello WORLD!

In [15]:
d1 = {'Apple':10, 'Orange':20, 'Banana':30}
d2 = {'Mango':40, 'Pineapple':50}
print(d1)
print(d2)
type(d1)

{'Apple': 10, 'Orange': 20, 'Banana': 30}
{'Mango': 40, 'Pineapple': 50}

dict

In [19]:
d2.update(d1)
print(d2)
d2.pop('Apple')
print(d2)

{'Mango': 40, 'Pineapple': 50, 'Apple': 10, 'Orange': 20, 'Banana': 30}
{'Mango': 40, 'Pineapple': 50, 'Orange': 20, 'Banana': 30}

In [26]:
s1= {1, 'Jaya','Jaya',3.56}
s1
type(s1)
s1.update(['abc','kvd',3.15])
s1.remove(3.15)
print(s1)

s2 = {1,2,3,'Kavita',3.6j}

{1, 3.56, 'Jaya', 'abc', 'kvd'}

In [34]:
s2.union(s1)
s1.add("Kavita")
print(s1)
s1.intersection(s2)

{1, 3.56, 'Jaya', 'abc', 'kvd', 'Kavita'}

{1, 'Kavita'}

In [50]:



if(a>b & a>c):
    print("a is the greatest")
elif(b>a & b>c):
    print("b is the greatest")
else:
    print("c is the gratest")

c is the gratest

In [53]:
tup1 =(1,2,3)
type(tup1)
if 6 in tup1:
    print("6 is in the list")
else:
    print("6 is not in the list")

6 is not in the list

In [56]:
# if with list
l1 = [1,3,3,4,5,6]

if l1[1]==2:
    l1[1] = l1[1]+100
    print(l1)
else:
    l1[1] = l1[1]-100
    print(l1)

[1, -97, 3, 4, 5, 6]

In [58]:
# if with Dictionary

d1 = {'Apple':10, 'Orange':20, 'Banana':30}
d2 = {'Mango':40, 'Pineapple':50}
if d1['Apple']==10:
    print("Apple is in the list")
    d1['Apple'] = d1['Apple']+100
    print(d1)
else:
    print("Apple is not in the list")

Apple is in the list
{'Apple': 110, 'Orange': 20, 'Banana': 30}

In [1]:
i = 1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 1
n = 2
while i<=10:
    print(n, "*", i, "=", n*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [3]:
#loop
l1 = ["apple","banana","orange"]
for i in l1:
    print(i)

apple
banana
orange

In [5]:
l1 = ["Jaya","Maya","Priya"]
l2 = ["book","chair","key"]
for i in l1:
    for j in l2:
        print(i,j)

Jaya book
Jaya chair
Jaya key
Maya book
Maya chair
Maya key
Priya book
Priya chair
Priya key

In [6]:
def hello():
    print("Hello World")

In [7]:
hello()

Hello World

In [10]:
# Function with parameter
def add10(x):
    return x+10
print(add10(110))

120

In [11]:
def multiply5(x):
    return x*5
multiply5(25)

125

In [16]:
def even_odd(x):
    if x%2==0:
        print(x,"is even")
    else:
        print(x,"is odd")

In [18]:
even_odd(21)

21 is odd

In [22]:
g = lambda x: x*x*x
print(g(2))

8

In [23]:
sqr = lambda x: x*x
print(sqr(4))

16

In [25]:
#Lambda function with filter
l1 = [21,34,55,232,2,3,55,71,42]
even_list = list (filter(lambda x:x%2==0,l1))
print("Even numbers out of list are",even_list)

Even numbers out of list are [34, 232, 2, 42]

In [28]:
odd_list = list(filter(lambda x:x%2!=0,l1))
print("Odd numbers out of list are",odd_list)

Odd numbers out of list are [21, 55, 3, 55, 71]

In [29]:
#lambda function with map
m_list = list(map(lambda x:x+1,l1))
print(m_list)

[22, 35, 56, 233, 3, 4, 56, 72, 43]

In [35]:
#Lambda function with reduce
from functools import reduce
l2 = [4,9,0,12]
r_list = reduce(lambda x,y:x+y,l2)#here reduce function takes 2 arguments- lambda function and the list. here x,y represents the elements of list l2, x+y will take 4+9, then (4+9= 13,0... then 13+0=13, ... 13+12 and so on)
print(r_list)

25